<footer class="bg-transparent p-8 text-left relative">
    <div class="flex flex-col md:flex-row md:justify-between items-center">
        <div class="flex-1 min-w-[200px] mb-4 md:mb-0">
            <p class="mt-4 text-lg font-bold text-white">Dare to dream, dare to buzz with us.</p>
            <div class="mt-4 flex gap-4">
                <a href="#" class="social-icon text-gray-200 hover:text-purple-500 transition-transform transform hover:scale-110 text-xl md:text-2xl">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
                <a href="#" class="social-icon text-gray-200 hover:text-purple-500 transition-transform transform hover:scale-110 text-xl md:text-2xl">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </a>
                <a href="#" class="social-icon text-gray-200 hover:text-purple-500 transition-transform transform hover:scale-110 text-xl md:text-2xl">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
                <a href="#" class="social-icon text-gray-200 hover:text-purple-500 transition-transform transform hover:scale-110 text-xl md:text-2xl">
                    <fa-icon [icon]="faTiktok"></fa-icon>
                </a>
                <a href="#" class="social-icon text-gray-200 hover:text-purple-500 transition-transform transform hover:scale-110 text-xl md:text-2xl">
                    <fa-icon [icon]="faPatreon"></fa-icon>
                </a>
            </div>
        </div>
        <div class="flex items-center mb-4 md:mb-0">
            <img src="logo.png" alt="Logo" class="h-12 md:h-16">
        </div>
    </div>
    <div class="text-center mt-8 border-t border-gray-600 text-white pt-4 mx-4">
        <p>&copy; 2024 Wise Buzzer. All rights reserved.</p>
    </div>
</footer>
