<footer class="text-white py-10">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="mt-10 border-t border-gray-700 pt-6">
            <div class="flex flex-col-reverse md:flex-row justify-between items-center">
                <div class="flex space-x-4">
                    <a href="https://www.facebook.com/profile.php?id=61557941683615" target="_blank" class="social-icon text-gray-200 hover:text-purple-500 transition-transform transform hover:scale-110 text-xl md:text-xl">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                    <a href="https://x.com/WiseBuzzer25?fbclid=IwY2xjawE5iQxleHRuA2FlbQIxMAABHYK6FdUZILpytxR9nuNM8SIJF7loCr14VfrMDfs8lr7V5lIPtNwzkncgwA_aem_Hq4MgakHX1RACU6KJ6QTgQ" target="_blank" class="social-icon text-gray-200 hover:text-purple-500 transition-transform transform hover:scale-110 text-xl md:text-xl">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/wisebuzzer25?fbclid=IwY2xjawE5iTVleHRuA2FlbQIxMAABHUCFky5Mfup25CTQJtXo00ADPpeb6WLCFfelDbA8kVjdimnlfkmAmwTxcg_aem_tYuljRyiZddYaQJmVqhbSw" target="_blank" class="social-icon text-gray-200 hover:text-purple-500 transition-transform transform hover:scale-110 text-xl md:text-xl">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="https://www.tiktok.com/@wisebuzzer25?fbclid=IwY2xjawE5iUhleHRuA2FlbQIxMAABHdDP4e9FRYbDaL9nK8SjwOt8ErSuvCqvVDyh1LJwt903KYnPn-yCUyAD8A_aem_nv2wxYZgLfVawm2XXuzxWw" target="_blank" class="social-icon text-gray-200 hover:text-purple-500 transition-transform transform hover:scale-110 text-xl md:text-xl">
                        <fa-icon [icon]="faTiktok"></fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/company/wise-buzzer/" target="_blank" class="social-icon text-gray-200 hover:text-purple-500 transition-transform transform hover:scale-110 text-xl md:text-xl">
                        <fa-icon [icon]="faPatreon"></fa-icon>
                    </a>
                </div>
                <span class="text-sm mt-4 md:mt-2 mb-4 md:mb-2 md:mr-9">&copy; 2024 Wise Buzzer. All rights reserved.</span>
            </div>
        </div>
    </div>
</footer>
