<section class="bg-transparent" id="contact">
    <div [@flipFadeIn] class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20">
        <div class="mb-4">
            <div class="mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12">
                <p class="text-base font-semibold uppercase tracking-wide text-indigo-600">
                    {{'Contact.Contact' | translate}}
                </p>
                <h2 class="font-heading mb-4 font-bold tracking-tight text-white text-3xl sm:text-5xl">
                    {{'Contact.GetIn' | translate}}
                </h2>
                <p class="mx-auto mt-4 max-w-3xl text-xl text-gray-300">{{'Contact.adm' | translate}}</p>
            </div>
        </div>
        <div  class="flex items-stretch justify-center">
            <div class="grid md:grid-cols-2 gap-8">
                <div class="h-full pr-6">
                    <p class="mt-3 mb-12 text-lg text-gray-300">
                        {{'Contact.cont' | translate}}
                    </p>
                    <ul class="mb-6 md:mb-0">
                        <li class="flex">
                            <div class="flex h-10 w-10 items-center justify-center rounded-full bg-indigo-600 text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
                                </svg>
                            </div>
                            <div class="ml-4 mb-4">
                                <h3 class="mb-2 text-lg font-medium leading-6 text-white">{{'Contact.address' | translate}}</h3>
                                <p class="text-gray-300">{{'Contact.street' | translate}}</p>
                                <p class="text-gray-300">{{'Contact.tbilisi' | translate}}</p>
                            </div>
                        </li>
                        <li class="flex">
                            <div class="flex h-10 w-10 items-center justify-center rounded-full bg-indigo-600 text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
                                    <path d="M15 7a2 2 0 0 1 2 2"></path>
                                    <path d="M15 3a6 6 0 0 1 6 6"></path>
                                </svg>
                            </div>
                            <div class="ml-4 mb-4">
                                <h3 class="mb-2 text-lg font-medium leading-6 text-white">{{'Contact.Contact' | translate}}</h3>
                                <p class="text-gray-300">{{'Contact.Mobile' | translate}}: +995 (574) 093-134</p>
                                <p class="text-gray-300">{{'Contact.Em' | translate}}: wisebuzzer&#64;gmail.com</p>
                            </div>
                        </li>
                        <li class="flex">
                            <div class="flex h-10 w-10 items-center justify-center rounded-full bg-indigo-600 text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                    <path d="M12 7v5l3 3"></path>
                                </svg>
                            </div>
                            <div class="ml-4 mb-4">
                                <h3 class="mb-2 text-lg font-medium leading-6 text-white">{{'Contact.WorkingHours' | translate}}</h3>
                                <p class="text-gray-300">{{'Contact.MonFri' | translate}}: 08:00 - 17:00</p>
                                <p class="text-gray-300">{{'Contact.SS' | translate}}: 08:00 - 12:00</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="background-color: #19112e;" class="card p-8 rounded-lg shadow-lg">
                    <h2 class="mb-4 text-2xl font-bold text-white">{{'Contact.Ready' | translate}}</h2>
                    <!-- <form (ngSubmit)="onSubmit()" [formGroup]="form" id="contactForm">
                        <div class="space-y-6">
                            <div class="relative">
                                <input formControlName="name" type="text" id="name" autocomplete="given-name" placeholder="{{'Contact.name' | translate}}" class="w-full rounded-lg border border-gray-300 dark:border-gray-600 bg-transparent p-4 text-white placeholder-gray-400 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 moveinput">
                                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                    <fa-icon style="color: white;" [icon]="faUser"></fa-icon>
                                </div>
                            </div>
                            <div class="relative">
                                <input  formControlName="email" type="email" id="email" autocomplete="email" placeholder="{{'Contact.email' | translate}}" class="w-full rounded-lg border border-gray-300 dark:border-gray-600 bg-transparent p-4 text-white placeholder-gray-400 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 moveinput">
                                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                    <fa-icon style="color: white;" [icon]="faEnvelope"></fa-icon>
                                </div>
                                
                            </div>
                            @if(form.controls.email.touched && form.controls.email.dirty && form.controls.email.invalid){
                                <p style="color: red;">*Email Must be in correct format!</p>
                            }
                            <div class="relative">
                                <textarea  formControlName="message" id="textarea" name="textarea" cols="30" rows="5" placeholder="{{'Contact.writeMessage' | translate}}" class="w-full rounded-lg border border-gray-300 dark:border-gray-600 bg-transparent p-4 text-white placeholder-gray-400 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 moveinput"></textarea>
                                <div class="absolute inset-y-0 left-0 pl-3 pt-3 flex items-start pointer-events-none">
                                    <fa-icon style="color: white;" [icon]="faTextArea"></fa-icon>
                                </div>
                            </div>
                        </div>
                        <button type="submit"  class="mt-4 w-full rounded-lg p-4 text-white bg-indigo-600 hover:bg-indigo-800 focus:outline-none focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50">
                            {{'Contact.sendMessage' | translate}}
                        </button>
                    </form> -->
                    <form (ngSubmit)="onSubmit()" [formGroup]="form" id="contactForm">
                        <div class="space-y-6">
                            <div class="relative">
                                <input formControlName="name" type="text" id="name" autocomplete="given-name" placeholder="{{'Contact.name' | translate}}" 
                                       class="w-full rounded-lg border border-gray-300 dark:border-gray-600 bg-transparent p-4 text-white placeholder-gray-400 
                                       focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 moveinput">
                                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                    <fa-icon style="color: white;" [icon]="faUser"></fa-icon>
                                </div>
                                @if (form.controls.name.touched && form.controls.name.invalid) {
                                    <p style="color: red;">*{{'Error.Name' | translate}}!</p>
                                }
                            </div>
                            
                            <div class="relative">
                                <input formControlName="email" type="email" id="email" autocomplete="email" placeholder="{{'Contact.email' | translate}}" 
                                       class="w-full rounded-lg border border-gray-300 dark:border-gray-600 bg-transparent p-4 text-white placeholder-gray-400 
                                       focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 moveinput">
                                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                    <fa-icon style="color: white;" [icon]="faEnvelope"></fa-icon>
                                </div>
                                @if (form.controls.email.touched && form.controls.email.invalid) {
                                    <p style="color: red;">*{{'Error.Email' | translate}}!</p>
                                }
                            </div>
                            
                            <div class="relative">
                                <textarea formControlName="message" id="textarea" name="textarea" cols="30" rows="5" placeholder="{{'Contact.writeMessage' | translate}}" 
                                          class="w-full rounded-lg border border-gray-300 dark:border-gray-600 bg-transparent p-4 text-white placeholder-gray-400 
                                          focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 moveinput"></textarea>
                                <div class="absolute inset-y-0 left-0 pl-3 pt-3 flex items-start pointer-events-none">
                                    <fa-icon style="color: white;" [icon]="faTextArea"></fa-icon>
                                </div>
                                @if (form.controls.message.touched && form.controls.message.invalid) {
                                    <p style="color: red;">*{{'Error.Message' | translate}}</p>
                                }
                            </div>
                        </div>
                        <button type="submit" class="mt-4 w-full rounded-lg p-4 text-white bg-indigo-600 hover:bg-indigo-800 
                                focus:outline-none focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50">
                            {{'Contact.sendMessage' | translate}}
                        </button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>
