<header>
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-4" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5 zoom-in">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" style="height: 90px; width: auto;" src="logo.png" alt="">
      </a>
    </div>

    <div class="flex lg:hidden">
      @if(!isMenuOpen()){
        <button (click)="toggleMenu()" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      }
      @else{
        <button (click)="toggleMenu()" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700 relative z-[100]">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      }
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      <a routerLink="/" class="text-sm font-semibold leading-6 text-white">MAIN</a>
      <a routerLink="/game-hub" class="text-sm font-semibold leading-6 text-white hub-text">GAME HUB</a>
      <a routerLink="/contact" routerLinkActive="router-link-active"  class="text-sm font-semibold leading-6 text-white">CONTACT</a>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <div class="flex justify-between items-center">
        <!-- Other header content -->
        <div class="flex justify-between items-center">
          <!-- Other header content -->
          <div class="relative" (clickOutside)="closeDropdown()">
            <button 
              id="languageDropdownButton"
              class="px-4 py-2 bg-indigo-800 text-white rounded-full hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-lg"
              (click)="toggleDropdown()">
              {{ savedLanguage() }}
              <svg class="w-4 h-4 inline-block ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
           @if(dropdownOpen){
            <div 
              class="absolute mt-2 w-40 bg-indigo-800 text-white rounded-md shadow-lg z-10" style="cursor: pointer;">
              <ul class="py-1">
                <li>
                  <a 
                    (click)="switchLanguage('ka')" 
                    class="block px-4 py-2 hover:bg-indigo-900">
                    KA - ქართული
                  </a>
                </li>
                <li>
                  <a 
                    (click)="switchLanguage('en')" 
                    class="block px-4 py-2 hover:bg-indigo-900">
                    EN - English
                  </a>
                </li>
              </ul>
            </div>
           }
          </div>
        </div>
      </div>
    </div>
  </nav>

  @if(isMenuOpen()){
    <!-- Background blur -->
    <div class="fixed inset-0 z-10 bg-black bg-opacity-50 backdrop-blur-sm"></div>

    <!-- Mobile menu -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <div class="fixed inset-0 z-20"></div>
      <div class="fixed inset-y-0 right-0 z-20 w-full overflow-y-auto px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
          </a>
         
        </div>

        <div class="mt-12 flow-root">
          <div class="-my-6 divide-y divide-white-500/10">
            <div class="space-y-2 py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white nav-text-sm">MAIN</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white nav-text-sm">GAME HUB</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white nav-text-sm">CONTACT</a>
            </div>
            <div class="py-6">
              <div class="flex justify-between items-center">
                <!-- Other header content -->
                <div>
                  <div class="flex items-center space-x-4">
                    <button 
                      (click)="switchLanguage('ka')" 
                      class="px-3 py-1 rounded text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                      KA
                    </button>
                    <button 
                      (click)="switchLanguage('en')" 
                      class="px-3 py-1 rounded text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                      EN
                    </button>
                  </div>
                </div>
              </div>

              <!-- @if(!loggedIn()){
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white zoom-out" (click)="login()">Account <span aria-hidden="true">&rarr;</span></a>
              }
              @if(loggedIn()){
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white zoom-in">Profile</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white zoom-in" (click)="logOut()">Log Out</a>
              } -->
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</header>
