<header>
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-4" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5 zoom-in">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" style="height: 90px; width: auto;" src="logo.png" alt="">
      </a>
    </div>

    <div class="flex lg:hidden">
      @if(!isMenuOpen()){
        <button (click)="toggleMenu()" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      }
      @else{
        <button (click)="toggleMenu()" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700 relative z-[100]">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      }
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      <a routerLink="/" class="text-sm font-semibold leading-6 text-white">MAIN</a>
      <a routerLink="/game-hub" class="text-sm font-semibold leading-6 text-white hub-text">GAME HUB</a>
      <a routerLink="/contact" routerLinkActive="router-link-active"  class="text-sm font-semibold leading-6 text-white">CONTACT</a>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      @if(!loggedIn()){
        <a href="#" class="text-sm font-semibold leading-6 text-white zoom-out" (click)="login()">Account <span aria-hidden="true">&rarr;</span></a>
      }

      @if(loggedIn()){
        <ng-container>
          <div class="relative" appClickOutside (clickOutside)="handleOutsideClick()">
            <button type="button" (click)="toggleProfileMenu()" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-expanded="false" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </button>
            @if(profileMenu){
              <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 zoom-in">Profile</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 zoom-in" (click)="logOut()">Log Out</a>
              </div>
            }
          </div>
        </ng-container>
      }
    </div>
  </nav>

  @if(isMenuOpen()){
    <!-- Background blur -->
    <div class="fixed inset-0 z-10 bg-black bg-opacity-50 backdrop-blur-sm"></div>

    <!-- Mobile menu -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <div class="fixed inset-0 z-20"></div>
      <div class="fixed inset-y-0 right-0 z-20 w-full overflow-y-auto px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
          </a>
         
        </div>

        <div class="mt-12 flow-root">
          <div class="-my-6 divide-y divide-white-500/10">
            <div class="space-y-2 py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white nav-text-sm">MAIN</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white nav-text-sm">GAME HUB</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white nav-text-sm">CONTACT</a>
            </div>
            <div class="py-6">
              @if(!loggedIn()){
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white zoom-out" (click)="login()">Account <span aria-hidden="true">&rarr;</span></a>
              }
              @if(loggedIn()){
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white zoom-in">Profile</a>
                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white zoom-in" (click)="logOut()">Log Out</a>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</header>
