@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(135deg, #10001d, #0c0112);
}

::-webkit-scrollbar {
    width: 5px; 
    background: #27187e!important;
}

 
 ::-webkit-scrollbar-thumb {
    background: #21004B!important;
 }

 html, body {
    scroll-behavior: smooth;
  }
  a,p,button, h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
  font-style: italic;
}