@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(135deg, #10001d, #0c0112);
}

::-webkit-scrollbar {
    width: 5px; 
    background: #27187e!important;
}

 
 ::-webkit-scrollbar-thumb {
    background: #21004B!important;
 }

