<div>
    <section id="features" class="relative block px-6 py-10 md:py-20 md:px-10">
        <div class="relative mx-auto max-w-5xl text-center">
            <span class="text-gray-400 my-3 flex items-center justify-center font-medium uppercase tracking-wider">
                {{"Pluses.Best" | translate}}
            </span>
            <h3  class="block w-full bg-gradient-to-b from-white to-gray-400 bg-clip-text font-bold text-transparent text-2xl sm:text-3xl">
                {{"Pluses.UL" | translate}}
            </h3>
            <p class="mx-auto my-4 w-full max-w-xl bg-transparent text-center font-medium leading-relaxed tracking-wide text-gray-400">
                {{"Pluses.OT" | translate}}
            </p>
        </div>

        <div class="relative mx-auto max-w-7xl z-10 grid grid-cols-1 gap-10 pt-14 sm:grid-cols-2 lg:grid-cols-3">
            <div class="rounded-md border border-neutral-800 bg-neutral-900/50 p-8 text-center shadow">
                <div class="button-text mx-auto flex h-12 w-12 items-center justify-center rounded-md border hover:scale-110 transition-transform duration-200"
                    style="background-image: linear-gradient(rgb(80, 70, 229) 0%, rgb(43, 49, 203) 100%); border-color: rgb(93, 79, 240);">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-gamepad" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="text-white">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="2" y="6" width="20" height="12" rx="2"></rect>
                        <path d="M6 12h4m-2 -2v4"></path>
                        <line x1="15" y1="11" x2="15" y2="11.01"></line>
                        <line x1="18" y1="13" x2="18" y2="13.01"></line>
                    </svg>
                    
                </div>
                <h3 class="mt-6 text-white">{{"Pluses.FL" | translate}}</h3>
                <p class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-400">
                    {{"Pluses.FLT" | translate}}
                    </p>
            </div>

            <div class="rounded-md border border-neutral-800 bg-neutral-900/50 p-8 text-center shadow">
                <div class="button-text mx-auto flex h-12 w-12 items-center justify-center rounded-md border hover:scale-110 transition-transform duration-200"
                    style="background-image: linear-gradient(rgb(80, 70, 229) 0%, rgb(43, 49, 203) 100%); border-color: rgb(93, 79, 240);">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bulb" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="text-white">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 20h6"></path>
                        <path d="M10 17h4"></path>
                        <path d="M12 3a7 7 0 0 0 -7 7a7 7 0 0 0 3 5.7v2.3a1 1 0 0 0 1 1h6a1 1 0 0 0 1 -1v-2.3a7 7 0 0 0 3 -5.7a7 7 0 0 0 -7 -7z"></path>
                    </svg>
                    
                </div>
                <h3 class="mt-6 text-white"> {{"Pluses.FP" | translate}}</h3>
                <p class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-400"> {{"Pluses.FPT" | translate}}.</p>
            </div>

            <div class="rounded-md border border-neutral-800 bg-neutral-900/50 p-8 text-center shadow">
                <div class="button-text mx-auto flex h-12 w-12 items-center justify-center rounded-md border hover:scale-110 transition-transform duration-200"
                    style="background-image: linear-gradient(rgb(80, 70, 229) 0%, rgb(43, 49, 203) 100%); border-color: rgb(93, 79, 240);">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock-open" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="text-white">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="5" y="11" width="14" height="10" rx="2"></rect>
                        <path d="M7 11v-4a5 5 0 0 1 9.7 -1"></path>
                        <path d="M12 16v.01"></path>
                    </svg>
                    
                </div>
                <h3 class="mt-6 text-white"> {{"Pluses.FF" | translate}}</h3>
                <p class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-400"> {{"Pluses.FFT" | translate}}</p>
            </div>
        </div>
    </section>
</div>
