<section [@slideUpFade]="isVisible ? 'in' : 'void'" id="features" class="container mx-auto px-4 space-y-6 py-8 md:py-12 lg:py-20">
    <div class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center">
        <h2 class="font-bold text-3xl leading-[1.1] sm:text-3xl md:text-6xl text-white">{{'Tech.T' | translate}}</h2>
        <p class="max-w-[85%] leading-normal text-gray-300 sm:text-lg sm:leading-7">
            {{'Tech.TD' | translate}} 
        </p>
    </div>

    <div class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3">
        <div class="relative overflow-hidden rounded-lg border border-gray-600 bg-transparent select-none hover:border-indigo-500 p-4 transition duration-300 ease-in-out">
            <div class="flex h-[220px] flex-col justify-between rounded-md bg-transparent p-6">
                <div class="flex items-center justify-center h-[100px] mb-4">
                    <img src="netlogo.png" alt="" class="h-auto max-h-full max-w-full object-contain">
                </div>
                <div class="space-y-2">
                    <h3 class="font-bold text-white">Angular</h3>
                    <p class="text-sm text-white">{{'Tech.Angular' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="relative overflow-hidden rounded-lg border border-gray-600 bg-transparent select-none hover:border-indigo-500 p-4 transition duration-300 ease-in-out">
            <div class="flex h-[220px] flex-col justify-between rounded-md bg-transparent p-6">
                <div class="flex items-center justify-center h-[100px] mb-4">
                    <img src="angular.png" alt="" class="h-auto max-h-full max-w-full object-contain">
                </div>
                <div class="space-y-2">
                    <h3 class="font-bold text-white">.NET</h3>
                    <p class="text-sm text-white">{{'Tech.Net' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="relative overflow-hidden rounded-lg border border-gray-600 bg-transparent select-none hover:border-indigo-500 p-4 transition duration-300 ease-in-out">
            <div class="flex h-[220px] flex-col justify-between rounded-md bg-transparent p-6">
                <div class="flex items-center justify-center h-[100px] mb-4">
                    <img src="fluter.png" alt="" class="h-auto max-h-full max-w-full object-contain">
                </div>
                <div class="space-y-2">
                    <h3 class="font-bold text-white">Flutter</h3>
                    <p class="text-sm text-white">{{'Tech.Flutter' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="relative overflow-hidden rounded-lg border border-gray-600 bg-transparent select-none hover:border-indigo-500 p-4 transition duration-300 ease-in-out">
            <div class="flex h-[220px] flex-col justify-between rounded-md bg-transparent p-6">
                <div class="flex items-center justify-center h-[100px] mb-4">
                    <img src="cosmos.png" alt="" class="h-auto max-h-full max-w-full object-contain">
                </div>
                <div class="space-y-2">
                    <h3 class="font-bold text-white">Database</h3>
                    <p class="text-sm text-white">{{'Tech.DB' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="relative overflow-hidden rounded-lg border border-gray-600 bg-transparent select-none hover:border-indigo-500 p-4 transition duration-300 ease-in-out">
            <div class="flex h-[220px] flex-col justify-between rounded-md bg-transparent p-6">
                <div class="flex items-center justify-center h-[100px] mb-4">
                    <img src="sec.png" alt="" class="h-auto max-h-full max-w-full object-contain">
                </div>
                <div class="space-y-2">
                    <h3 class="font-bold text-white">Security</h3>
                    <p class="text-sm text-white">{{'Tech.SS' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="relative overflow-hidden rounded-lg border border-gray-600 bg-transparent select-none hover:border-indigo-500 p-4 transition duration-300 ease-in-out">
            <div class="flex h-[220px] flex-col justify-between rounded-md bg-transparent p-6">
                <div class="flex items-center justify-center h-[100px] mb-4">
                    <img src="azure.png" alt="" class="h-auto max-h-full max-w-full object-contain">
                </div>
                <div class="space-y-2">
                    <h3 class="font-bold text-white">Azure</h3>
                    <p class="text-sm text-white">{{'Tech.Azure' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
